{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
