.greeting {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 15px;
}

.greeting__avatar {
  display: grid;
  place-items: center;
}

.greeting__avatar > img {
  border-radius: 50%;
  overflow: hidden;
}
