.dark-theme {
  /* colors */
  --background-primary: #384457;
  --text-primary: #ffffff;

  --color-focus-primary: #5bb2fa;
  --border-color: whitesmoke;

  --background-secondary: rgba(0, 0, 0, .25);
}
